{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "debug": true,
        "targets": {
          "node": "current",
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@Config": "./config",
          "@Server": "./server",
        }
      }
    ]
  ]
}