{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "airbnb-base"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@Config", "./config"],
          ["@Server", "./server"]
        ],
        "extensions": [".js", ".json"]
      }
    }
  },
  "rules": {
    "no-new": "off",
    "no-console": "warn",
    "no-control-regex": "off",
    "max-len": [
      "error",
      {
        "code": 90,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true,
        "skipStrings": true
      }
    ],
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ]
  }
}